# Dependencies
node_modules/

# Build output
dist/

# Skip coverage files
.coverage/

# Environment variables
.env

# skip lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
